@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Opens Sans', sans-serif; 

}

.limitar {
    max-width: 500px;
}

body {
    background: url(" https://picsum.photos/1920/1089?random=1");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
}
.container-search{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;    
}

.container-search input {
    width: calc(100% - 100px);
    height: 32px;
    border-radius: 15px;
    border: none;
    padding: 10px;
    font-size: 1rem;
    outline: none;
}

.btn-search {
    width: 42px;
    height: 42px;
    padding: 10px;
    border: none;
    cursor: pointer;
    border-radius: 100%;
    background-color: aqua;
}

.btn-search img {
    width: 20px;
}

main {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box {
    background-color: #000000;
    opacity: 0.7;
    width: 600px;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    border-radius: 25px;
}

.titulo {
    color: #ffffff;
    margin: 10px 0 30px 0;
    font-size: 28px;
}

.cidade {
    color: #ffffff;
    font-weight: normal;
}

.temp-max, .temp-min, .temp{
    font-size: 20px;
    margin-top: 10px;
    color:  #ffffff;
}
.tempo, .umidade {
    font-size: 15px;
}

.title {
    color: #ffffff;
}
.box span {
    font-weight: 700;
    color: aqua
}

.container-info {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    gap: 30px;
}

.container-nuvens {
    display: flex;
    align-items: center; 
    justify-content: space-evenly; 
    gap: 15px;  
}

.container-nuvens .tempo{
    color: aqua;
}
.container-nuvens img {
    width: 40px;
}

.container-info p {
    font-weight: 700;
    text-transform: capitalize;
    color:#ffffff
}

/* responsivo */

@media (max-width: 428px) {
    .box {
        width: 90%;
    }

    .container-search {
        width: 90%;
    }

    .container-search input {
        width: 80%;
    }

    .container-info {
        width: 90%;
    }
}